.header {
    height: 70px;
    display: flex;
    align-items: center;

    h1 {
        padding-left: 20px;
        color: white;
        width: fit-content;
    }
}
.block {
    background-color: #29294A;
    height: 45px;
    width: 100%;
}